mixin stylesheet_link(src)
	link(rel="stylesheet" href="/stylesheets/#{src}.css")

mixin javascript_include(src, ...rest)
	script(type="text/javascript" src="/javascripts/#{src}.js")
	each file in rest
		script(type="text/javascript" src="/javascripts/#{file}.js")

mixin javascript_include_albumView(src, ...rest)
	script(type="text/javascript" src="/javascripts/views/album/#{src}.js")
	each file in rest
		script(type="text/javascript" src="/javascripts/views/album/#{file}.js")

mixin javascript_include_userView(src, ...rest)
	script(type="text/javascript" src="/javascripts/views/users/#{src}.js")
	each file in rest
		script(type="text/javascript" src="/javascripts/views/users/#{file}.js")

mixin javascript_include_models(src, ...rest)
	script(type="text/javascript" src="/javascripts/models/#{src}.js")
	each file in rest
		script(type="text/javascript" src="/javascripts/models/#{file}.js")