<a id="edit" data-type="edit" href="/albums/edit/{{id}}">edit</a>
<a id="delete" data-type="delete" data-target="/albums/delete/{{id}}">delete</a>
<p>{{date}}</p>
<img src="{{cover}}" alt="cover">
<h3>{{name}}</h3>
<h2>{{title}}</h2>
<p>${{price}}</p>
<a href="#" class="button"><img src="/images/ca.png" alt="add"></a>