{{#admin}}
  <a href="/albums/edit/{{id}}" id="edit" data-type="edit">edit</a>
  <a href="#" id="delete" data-type="delete" data-target="/albums/delete/{{id}}">delete</a>
{{/admin}}
<p>{{date}}</p>
<img src="{{cover}}" alt="cover">
<h3>{{name}}</h3>
<h2>{{title}}</h2>
<p>${{price}}</p>
<a href="#" class="button" id="add_to_cart"><img src="/images/ca.png" alt="add"></a>